.content-container {
    padding: 4em;
}
.content-row {
    display: flex;
    flex-direction: row;
}
.content-row::after { /*"clear fix"*/
    content: "";
    display: table;
    clear: both;
}
.heading-column-33 { /*creating my heading to the left of page in desktop view*/
    min-width: 33.33%;
}
.content-column-66 {
    line-height: 1.8em;
    font-size: 1.8em;
}
/*For a tablet*/
@media screen and (max-width:768px) {
    .content-container {
        padding: 0px;
    }
    .content-row { /*flex box application*/
        display: flex;
        flex-direction: column;
    }
    .heading-column-33{
        margin-top: 2em; 
        margin-bottom: 2em;
    }
    .content-column-66 {
        line-height: 1.6em;
        font-size: 1.2em;
    }
}
/*For mobile devices*/
@media screen and (max-width:600px) {
    .content-container {
        padding: 0px;
    }
    .content-row {
        display: flex;
        flex-direction: column;
    }
    .heading-column-33{
        margin-top: 1.8em; 
        margin-bottom: 1.8em;
    }
    .content-column-66 {
        line-height: 1.5em;
        font-size: 1.1em;
    }
}



/*Add this last once you fix up css code*/
/* .p-impact {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
} */



