/*
 * , *:before , *:after {
    box-sizing: inherit; */

/*need to confirm if the above is necessary*/

.row { /*applied flex box here instead of using the "float" layout of css */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    /*float: left;*/
    width: 50%;
    margin-bottom: 1em;
    padding: 0 1.5em;
    margin: 0px;
}
.blog-card {
    box-shadow: 0 4px 8px 0 rgba (0,0,0,0.2);
}
.blog-card img {
    object-fit: cover;
    height: 30vh;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-section {
    padding: 50px;
    text-align: center;
    background-color: transparent;
    color: black;
}
.blog-section h1 {
    font-size: 3em;
}
.blog-container {
    padding: 0 16px;
}

.blog-container::after, .row::after { /*the clear fix hack that will keep images and borders within the element*/
    content: "";
    clear: both;
    display: table;
}
.blog-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5em;
    color: white;
    background-color: #3cb371;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}
.blog-button:hover {
    background-color: #555;
}
@media screen and (max-width: 650px) {
    .row {
        flex-direction: column;
    }
    .column    
        {width: 100%;
    }
    .blog-card img {
        min-width: 100%;
    }
    
}

@media screen and (max-width:600px) {
    .blog-section h1 {
        font-size: 2em;
    }
}