/*
 * , *:before , *:after {
    box-sizing: inherit; */

/*need to confirm if the above is necessary*/

.row { /*applied flex box here instead of using the "float" layout of css */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    /*float: left;*/
    width: 50%;
    margin-bottom: 1em;
    padding: 1.5em 1.5em;
    margin: 0px;
}

.blog-card img {
    object-fit: cover;
    height: 30vh;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-container {
    padding: 0 16px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-container h2 {
    font-size: 1.8vw;
}
.blog-container::after, .row::after { /*the clear fix hack that will keep images and borders within the element*/
    content: "";
    clear: both;
    display: table;
}
.blog-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5em;
    color: white;
    background-color: #3cb371;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}
.blog-button:hover {
    background-color: #555;
}
/*For tablet devices*/
@media screen and (max-width:768px) {
    .blog-container {
        padding: 0;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-container h2 {
        font-size: 2.0vw;
    }
    .blog-card img {
        object-fit: cover;
        height: 30vh;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }   
    .column {
        padding: 1em 1em;
    } 
}
/*For mobile devices*/
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .column    
        {width: 100%;
    }
    .blog-card img {
        min-width: 100%;
    }
    .blog-container h2 {
        font-size: 2em;
    }
    
}