section {
    background-color: #474e5d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Actual timeline line*/
.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 0.5em;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;

}
/*container around the content*/
.container {
    padding: 10px 25px;
    position: relative;
    background-color:inherit;
    width: 50%;
    
}
/*circles indicating the time on the timeline*/
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -20px;
    background-color: white;
    border: 0.3em solid #3cb371;
    top: 1em;
    border-radius: 10%;
    z-index: 1;
}
/* Place the container to the left */
.left {
    left: 0;
}
  
/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 10px;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
left: -17px;
}

/* The actual content */
.content {
padding: 20px 30px;
background-color: white;
position: relative;
border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .timeline {
        max-width: 100%;
        
        
    }
    /*Place Timeline on the left*/
    .timeline::after {
        left: 30px;
    }
    /*Full Width containers*/
    .container {
        width: 100%;
        padding-left: 60px;
        padding-right: 20px;
    }
    /*Arrows to point left*/
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /*Moves all the points to the left side of the boxes*/
    .left::after, .right::after {
        left: 15px;
    }
    /*makes the right side behave like the left*/
    .right {
        left: 0%;
    }
}