.post-hero{
    background-position: 50% 50%;
    background-size: cover;
    color: white;
    display: flex;
        justify-content: center;
        align-items: flex-end;
    height: 60vh;
    
}

.post-headline {
    text-align: center;
    font-size: 2.5em;
}
.post-meta {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2.5 em;
    font-style: italic;
}
h6{
    color: #999;
    font-size: 0.75em;
}
.post-paragraph{
    font-size: 1em;
    margin: 0px 0px 1.2em 0px;
    line-height: 2em;
}

@media screen and (min-width: 60em) {
    .post-content{
        max-width: 54%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (max-width:480px) {
    body{
        padding: 0%;
    }
    .footer-nav {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    .topnav {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }

}