* {
    box-sizing: border-box; /*includes padding and border in all elements' total width and height*/
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background: #f2f2f2; 
}
header { /*header holding the image and text*/
    position: relative;
    text-align: center;
    color: white;
}

#home-icon { /*centered text*/
    position: absolute;
    top: 50%;
    left: 50%;
    
}
article {
    position: relative;
    text-align: center;
    color: white;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}








.topnav {
    overflow: hidden;    
    background-color: teal;
    list-style-type: none;
    
    
}

.topnav a {
    color: black;
    float: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black
}


.container {
        padding: 5%;
        border: none;
        margin: none;
        width: 200px; 
        background-color: orange;   
}
 
.project-images {
    width: 100%;
}

.container article p {
    ;
}